.voxels-main-container {
  position: fixed;
  height: 55vh;
  max-height: 500px;
  bottom: 0;
  left: 20px;
  transition: transform 0.5s ease-in-out;
  font-family: "Press Start 2P", cursive;
}

.voxels-main-trapezium {
  position: relative;
  width: 20%;
  height: 25px;
  background: linear-gradient(
    168deg,
    rgba(98, 42, 255, 1) 0%,
    rgb(72, 30, 186) 100%
  );
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  z-index: 2;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.voxels-main-arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-in-out;
}

.voxels-main-flipped {
  transform: rotateX(180deg) translate(-50%, 50%);
}

/**
* Voxels setup
*/
.voxels-setup-image {
  width: auto;
  height: 100px;
  display: block;
  margin: 0 auto;
  box-shadow: rgb(0 0 0 / 60%) 0px 0px 6px 2px;
}

.voxels-setup-text {
  text-align: center;
  margin-top: 10px;
}

/**
* Voxels pages
*/
.voxels-main {
  width: 30vw;
  max-width: 500px;
  height: calc(100% - 25px);
  padding: 5px;
  padding-bottom: 30px;
  background: linear-gradient(
    168deg,
    rgba(98, 42, 255, 1) 0%,
    rgb(72, 30, 186) 100%
  );
  border-top: 5px solid #3e2723;
  border-right: 5px solid #3e2723;
  border-left: 5px solid #3e2723;
  z-index: 1;
  overflow-y: auto;
}

.voxels-main::-webkit-scrollbar {
  width: 6px;
}

.voxels-main::-webkit-scrollbar-thumb {
  background-color: #3e2723;
}

.voxels-main::-webkit-scrollbar-track {
  background: none;
}

.voxels-main-page {
  display: none;
}

.voxels-main-title {
  color: white;
  font-family: "Arial Black", sans-serif;
  font-size: 1.5em;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  margin: 0px 7px 8px 7px;
  text-decoration: none;
}

.voxels-main-title:hover {
  color: white;
}

/**
* Timer styles
*/

/* Style for farm cells */
.voxels-main-grid {
  width: 98%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
  background: linear-gradient(45deg, rgb(113 113 113), rgb(68 68 68));
  color: #fff;
  margin: 0 auto 10px auto;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  padding-bottom: 12px;
}

.voxels-main-title-text {
  text-shadow: 1px 1px white, -1px -1px #000;
  font-size: 0.8em;
  color: white;
  font-weight: 400;
  padding: 5px 12px;
  width: 105px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.voxels-main-farm-cell {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  text-align: center;
  padding: 10px;
}

/* Style for remove farm icon */
.voxels-remove-farm-icon {
  position: absolute;
  line-height: 8px;
  top: 4px;
  right: 19px;
  width: 15px;
  height: 15px;
  background-color: red;
  color: white;
  font-size: 15px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

/* Style for farm images */
.voxels-main-farm-image {
  max-width: 60px;
  max-height: 60px;
  display: block;
  margin: 0 auto;
}

/* Style for farm timers */
.voxels-main-timer {
  position: absolute;
  font-weight: 400;
  font-size: 8px;
  background-color: #2c2c2c;
  bottom: 0;
  padding: 0 5px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  cursor: pointer;
}

/* Color for timer based on time remaining */
.voxels-main-timer.ready {
  background-color: green;
}

.voxels-main-timer.not-ready {
  background-color: #2c2c2c;
}

/**
* Voxels pages TODO
*/

.voxels-main-page.active {
  display: grid;
}

.voxels-main-top-section {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.voxels-main-arrow-left,
.voxels-main-arrow-right {
  font-size: 1rem;
  cursor: pointer;
}

.voxels-main-arrow-left {
  left: 10px;
}

.voxels-main-arrow-right {
  right: 10px;
}

.voxels-main-new {
  width: 98%;
  margin: 0 auto 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
  background: linear-gradient(45deg, rgb(113 113 113), rgb(68 68 68));
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.voxels-main-premium {
  height: 140px;
  background: linear-gradient(168deg, rgb(230 33 33) 0%, rgb(13 0 245) 100%);
  border-width: 7px;
  border-style: outset;
  border-color: #c7c7c7;
  box-shadow: rgb(0 0 0 / 80%) 3px 3px 2px 1px;
  text-align: start;
}

.voxels-main-premium .image-list-container > img {
  width: 200px;
  height: auto;
  margin-right: 3px;
  margin-bottom: 10px;
}

.voxels-main-premium ul {
  font-size: 0.5em;
  list-style: none;
  padding: 0;
  margin: 0;
}

.voxels-main-premium li {
  margin-bottom: 5px;
}

.voxels-main-premium li img {
  width: 10px;
  margin-right: 3px;
}

.voxels-main-premium-button {
  margin-left: auto;
  font-size: 0.8em !important;
  height: 50px;
}

.voxels-main-new div {
  flex-grow: 1;
  margin-right: 10px;
}

.voxels-main-add-button {
  background: linear-gradient(168deg, rgb(227 255 54) 0%, rgb(170 193 22) 100%);
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.voxels-main-add-button:hover {
  background-color: transparent;
  background-image: linear-gradient(
    168deg,
    rgb(227 255 54) 0%,
    rgb(170 193 22) 100%
  );
  filter: brightness(115%);
}

/**
* Icons for adding farms
*/

.voxels-main-farm-icon-container {
  display: flex;
  align-items: center;
  grid-column: 2 / 4;
}

.voxels-main-farm-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 2px;
}

.voxels-main-farm-icon img {
  width: 30px;
  /* Adjust as needed */
  height: 30px;
  /* Adjust as needed */
}

.voxels-main-farm-icon .plus-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  /* Adjust as needed */
  height: 15px;
  /* Adjust as needed */
  background-color: green;
  border-radius: 50%;
  color: white;
  font-size: 10px;
  /* Adjust as needed */
  text-align: center;
  line-height: 15px;
  /* Adjust as needed */
}

/**
* Remove the location minus
*/
.voxels-main-remove {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-top: 5px;
  margin-left: auto;
  cursor: pointer;
  border-radius: 4px;
  background-color: #d14d77;
  border: 2px solid #791d5c;
}

.voxels-remove-icon {
  color: white;
  /* White minus sign color */
  font-weight: bold;
  font-size: 16px;
}

/**
* Error styling
*/
.voxels-popup {
  border: 5px solid #f00;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: #fff;
  background: #ff7f7f;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.voxels-popup a {
  text-decoration: underline;
  color: #fff;
}

.voxels-popup a:hover {
  color: #fff;
}
